<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <title>Person</title>
</head>
<body>
    {{> header}}
    <div class="card__box">
    <div class="box">
    {{#profil}}
            {{#each info}}
            <div class="cards__person">
                <h1>{{name}}</h1>
                <h3>{{region}}</h3>
                {{#if image}}
                    <img src="{{image}}" alt="">
                {{else}}

                {{/if}}
                {{#if description}}
                    <p> Описание: {{description}}</p>
                {{else}}
                    <p></p>
                {{/if}}
            </div>
            {{/each}}
    {{/profil}}
    </div>
    </div>

    {{> footer}}

</body>
</html>