<div class="user__box">
    {{#getUser}}
        {{#each data}}
        <div class="person">
            <h1>{{name}}</h1>
            {{#if avatar}}
            <img src="{{avatar}}" alt="">
            {{else}}
            <img src="" alt="">
            {{/if}}
            <div class="text">
            <h3>Level: {{level}}</h3>
            <h3>Money: {{money}}</h3>
            <h3>Inventory: {{inventory}}</h3>
            </div>
        </div>
        {{/each}}
    {{/getUser}}
</div>